<?xml version="1.0" encoding="UTF-8"?>
<suite name="MPVP1 client" verbose="1">
	<listeners>
		<listener class-name="com.misfit.ta.testng.OnFailure" />
		<listener class-name="com.misfit.ta.testng.HandleLogFiles" />
	</listeners>
	<test name="SmokeTest1">
		<groups>
			<run>
				<include name="TRSTest" />
			</run>
		</groups>
		<packages>
			<package name="com.misfit.*" />
		</packages>
	</test>
	<test name="SmokeTest2">
		<groups>
			<run>
				<include name="TRSTest" />
			</run>
		</groups>
		<packages>
			<package name="com.misfit.*" />
		</packages>
	</test>
</suite>
