target/
/logs
/.classpath
/.project
/.settings
*/*/test-output
*/*/localize_result
*/*/null
*/*/target
*/*/tools
*/*/script
*/*/model
*/*/apps
*/*/images
*/*/keys
*/*/rawdata
ios/*/*/ios
*/*/logs
*/*/instrumentscli*.trace
/target
*~
.DS_Store


