target/
/logs
/.classpath
/.project
/.settings
*/*/test-output
*/*/null
*/*/target
*/*/tools
*/*/script
*/*/model
ios/*/*/ios
*/*/logs
*/*/instrumentscli*.trace
/target
*~
.DS_Store


