<?xml version="1.0" encoding="UTF-8"?>
<suite name="Android client" verbose="1">
	<listeners>
		<listener class-name="com.spotify.qa.testng.OnFailure" />
		<listener class-name="com.spotify.qa.testng.HandleLogFiles" />
	</listeners>
	<test name="SmokeTest">
		<groups>
			<run>
				<include name="android" />
			</run>
		</groups>
		<packages>
			<package name="com.spotify.qa.aut.client.mobile.android.*" />
		</packages>
	</test>
</suite>
