<?xml version="1.0" encoding="UTF-8"?>
<suite name="Backend Automation" verbose="1">
   <listeners>
      <listener class-name="com.misfit.ta.testng.OnFailure" />
      <listener class-name="com.misfit.ta.testng.HandleLogFiles" />
   </listeners>
   <test name="Server Calculation">
      <groups>
         <run>
            <include name="new_servercalculation_smoke" />
            <exclude name="OTF" />
            <exclude name="Excluded" />
         </run>
      </groups>
      <packages>
         <package name="com.misfit.ta.backend.aut.correctness.servercalculation.*" />
      </packages>
   </test>
</suite>