HEADER<{{

public class MyAPI extends ModelAPI {
   public MyAPI(AutomationTest automation, File model, boolean efsm, PathGenerator generator, boolean weight) {
    super(automation, model, efsm, generator, weight);
  }
}}>HEADER

  /**
   * This method implements the {EDGE_VERTEX} '{LABEL}'
   * {DESCRIPTION}
   */
  public void {LABEL}() {
   //TODO: 
  }

FOOTER<{{
}
}}>FOOTER
